.logo{
   color: black;
   font-size: 3em;
}

.back-img-1{
    background: url('acrylic-android-wallpaper-art-1012982.jpg') no-repeat center center;
    background-size:cover;
}
.bg-yellow{
    background-color:#fd8b37;
    color: white;
}
.back-img-2{
    background: url('creased-crinkled-crumpled-479444.jpg') no-repeat center center;
    background-size:cover;
}
.bg-height{
    height:10vh;
}
.bg-yellow-2{
    background-color:#fd8b37;
    color: white;
}
ul{
    list-style:none;
    display: flex;
    justify-content: space-between;

}
*{
    outline:solid red 1px;
}
.img-art{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: stretch;
}